<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @user.photo %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Data de aniversário:</strong>
  <%= @user.birth_date %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Voltar', users_path %>
