<%= form_for(activity) do |f| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :created_user_id %>
    <%= f.text_field :created_user_id %>
  </div>

  <div class="field">
    <%= f.label :assigned_user_id %>
    <%= f.text_field :assigned_user_id %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :done %>
    <%= f.check_box :done %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
