<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Created user</th>
      <th>Assigned user</th>
      <th>Title</th>
      <th>Description</th>
      <th>Done</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.created_user_id %></td>
        <td><%= activity.assigned_user_id %></td>
        <td><%= activity.title %></td>
        <td><%= activity.description %></td>
        <td><%= activity.done %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Activity', new_activity_path %>