<p id="notice"><%= notice %></p>

<p>
  <strong>Created user:</strong>
  <%= @activity.created_user_id %>
</p>

<p>
  <strong>Assigned user:</strong>
  <%= @activity.assigned_user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @activity.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Done:</strong>
  <%= @activity.done %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
