<!DOCTYPE html>
<html>
  <head>
    <title>HackathonSsi</title>
 // Start
    
    @charset "utf-8";
	.Estilodecaracterenormal
{
	font-family : Menlo;
	font-size : 130px;
	color : #17569C;a
	color : rgb(23, 86, 156);
}
.Estilodecaracterenormal1
{
	font-family : Menlo;
	font-size : 64px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.Estilodecaracterenormal2
{
	font-family : Menlo;
	font-size : 130px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.Estilodecaracterenormal3
{
	font-family : Bebas Neue;
	font-size : 364px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.Estilodecaracterenormal4
{
	font-family : Bebas Neue;
	font-size : 700px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.Estilodecaracterenormal5
{
	font-family : Bebas Neue;
	font-size : 364px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
{
    font-family: Bebas Neue
        
    // Ended
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p
    <%= yield %>
  </body>
</html>
